body {
}

.tickets-topics {
    width: 175px;
    float: left;
}

.tickets-cats-title {
    font-family: "DJVM",Arial,Sylfaen,sans-serif;
    color: #909090;
    font-size: 20px;
    margin: 20px 0 10px;
}

.tickets-topics-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .tickets-topics-list li {
        padding-bottom: 5px;
        cursor:pointer;
    }

    .tickets-topics-list a {
        display: block;
        background: #e0e0e0;
        font-size: 13px;
        color: #666;
        padding: 10px 10px 10px 30px;
        line-height: 1.2;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

        .tickets-topics-list a .id {
            display: block;
            margin-left: -30px;
            width: 27px;
            text-align: right;
            float: left;
        }
.text-content {
    font-size: 16px;
    color: #535353;
    font-family: "BPG Rioni",Arial,Sylfaen,sans-serif;
}
    .text-content h1 {
        background: none;
        text-align: center;
    }
    .text-content h1 {
        color: #535353;
        font-family: "DJVMB",Arial,Sylfaen,sans-serif;
        font-size: 30px;
        margin-bottom: 30px;
        background-size: 194px;
        padding-top: 3px;
        font-weight: normal;
        text-shadow: 2px 1px 0 #fff, -2px 1px 0 #fff;
        text-shadow: 2px 1px 0 2px #fff,-2px 1px 0 2px #fff;
    }
        .text-content h1 .midlight {
            font-family: "DJVM",Arial,Sylfaen,sans-serif;
            font-weight: normal;
        }